.about {
  display: flex;
  padding-top: 2px;

  @media (max-width: $tablet-max-width) {
    padding-top: 0;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
  }
}

.about a {
  color: $basic-white;
}

.about li {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
