.accordion__content {
  display: none;
}

.accordion__content--show {
  display: block;
}

.accordion--nojs .accordion__content {
  display: block;
}

.accordion--nojs h3 {
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 9px;
    background-image: url("../img/icon-arrow-down.svg");
    bottom: 7px;
    right: 6px;
  }
}

.accordion__item--faq.accordion__item--closed {
  padding-bottom: 36px;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 13px;

    &:last-child {
      padding-bottom: 9px;
    }
  }
}

.accordion__item--faq.accordion__item--opened {
  @media (max-width: $tablet-max-width) {
    padding-bottom: 46px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 16px 18px 24px;
  }
}

.accordion__item--faq.accordion__item--opened h3 {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 26px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 14px;
  }
}

.accordion__item--opened::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 9px;
  background-image: url("../img/icon-arrow-up.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 50px;
  right: 48px;


  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 13px;
    top: 48px;
    right: 48px;
  }

  @media (max-width: $mobile-max-width) {
    width: 21px;
    height: 11px;
    top: 22px;
    right: 23px;
  }
}

.accordion__item--filter.accordion__item--opened::before {
  top: 29px;
  right: 24px;

  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 13px;
    top: 48px;
    right: 48px;
  }

  @media (max-width: $mobile-max-width) {
    width: 21px;
    height: 11px;
    top: 22px;
    right: 23px;
  }
}

.accordion__item--modal.accordion__item--opened::before {
  top: 40px;
  right: 40px;

  @media (max-width: $mobile-max-width) {
    top: 30px;
    right: 20px;
  }
}

.accordion__item--closed {
  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 9px;
    background-image: url("../img/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 50px;
    right: 48px;

    @media (max-width: $tablet-max-width) {
      width: 24px;
      height: 13px;
      top: 48px;
      right: 48px;
    }

    @media (max-width: $mobile-max-width) {
      width: 21px;
      height: 11px;
      top: 22px;
      right: 23px;
    }
  }
}

.accordion__item--filter.accordion__item--closed {
  &::before {
    top: 29px;
    right: 24px;

    @media (max-width: $tablet-max-width) {
      width: 24px;
      height: 13px;
      top: 48px;
      right: 48px;
    }

    @media (max-width: $mobile-max-width) {
      width: 21px;
      height: 11px;
      top: 22px;
      right: 23px;
    }
  }
}

.accordion__item--modal.accordion__item--closed::before {
  top: 40px;
  right: 40px;

  @media (max-width: $mobile-max-width) {
    top: 30px;
    right: 20px;
  }
}

.accordion--nojs .accordion__item--opened::before,
.accordion--nojs .accordion__item--closed::before {
  display: none;
}
