.catalog-slider-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 30px;
  padding-right: 8px;
  padding-left: 22px;

  @media (max-width: $tablet-max-width) {
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.catalog-slider-navigation__btn {
  padding: 5px 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $basic-dark;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.catalog-slider-navigation__pagination {
  position: static;
  display: flex;
  align-items: baseline;
  justify-content: center;
  list-style: none;
  padding: 0;

  @media (max-width: $tablet-max-width) {
    padding-right: 26px;
  }

  @media (max-width: $mobile-max-width) {
    display: flex;
    margin: 0;
    padding-right: 0;
  }
}

.catalog-slider-navigation .swiper-pagination-bullet {
  @media (max-width: $mobile-max-width) {
    min-width: 32px;
  }
}

.catalog-slider-navigation button:hover,
.catalog-slider-navigation button:focus {
  color: $basic-brown;
}

.catalog-slider-navigation button:active {
  opacity: 0.5;
}

.catalog-slider-navigation li {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin: 0 10px 0 4px;
  cursor: pointer;
  color: $basic-grey;

  &:hover,
  &:focus {
    color: $basic-brown;
  }

  &:active {
    color: rgba($basic-dark, 0.6);
  }

  @media (max-width: $tablet-max-width) {
    margin: 0 10px 0 3px;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0 12px;
  }
}

.catalog-slider-navigation li:first-child {
  color: $basic-dark;

  &:hover,
  &:focus {
    color: $basic-brown;
  }

  &:active {
    color: rgba($basic-dark, 0.6);
  }
}

.catalog-slider-navigation li:last-child {

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
