.gallery-column-3 {
  margin-right: 27px;

  @media (max-width: $tablet-max-width) {
    margin-right: 16px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    // align-items: flex-start;
    margin-right: 0;
  }
}

.gallery-column-3__item:nth-child(1) {
  @media (max-width: $mobile-max-width) {
    //order: 1;
    display: none;
  }
}

.gallery-column-3__item:nth-child(1) img {
  width: 230px;
  height: 230px;

  object-fit: cover;

  @media (max-width: $tablet-max-width) {
    width: 133px;
    height: 133px;
  }

  @media (max-width: $mobile-max-width) {
    width: 145px;
    height: 121px;
    margin-top: -6px;
  }
}

.gallery-column-3__item:nth-child(2) img {
  width: 230px;
  height: 150px;

  object-fit: cover;

  @media (max-width: $tablet-max-width) {
    width: 133px;
    height: 86px;
  }

  @media (max-width: $mobile-max-width) {
    width: 133px;
    height: 87px;
    margin-right: 24px;
  }
}
