.gallery-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $mobile-max-width) {
    flex-wrap: wrap;
  }
}

.gallery-content__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery-content__item {
  margin: 0;
  padding: 0;
}


.gallery-content__item img {
  margin-bottom: 31px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 11px;
  }
}
