.gallery-column-2 {
  margin-right: 27px;

  @media (max-width: $tablet-max-width) {
    margin-right: 18px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 0;
  }
}

.gallery-column-2__item:nth-child(1) img {
  width: 399px;
  height: 414px;

  object-fit: cover;

  @media (max-width: $tablet-max-width) {
    width: 231px;
    height: 240px;
  }

  @media (max-width: $mobile-max-width) {
    width: 145px;
    height: 226px;
  }
}
