.page-header__wrapper {
  margin: 0 auto;
  max-width: 1210px;
  padding: 30px 20px 8px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $tablet-max-width) {
    padding: 30px 45px 27px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $mobile-max-width) {
    padding: 20px 13px 13px 14px;
  }
}

.page-header__wrapper--toggled,
.page-header__wrapper--nojs {
  @media (max-width: $tablet-max-width) {
    background-color: $basic-brown;
  }
}

.page-header__wrapper--toggled {
  @media (max-width: $tablet-max-width) {
    margin: unset;
  }
}

.page-header__wrapper--lock {
  @media (max-width: $tablet-max-width) {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
  }
}

.page-header__main-nav {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
}

.page-header__user-menu {
  justify-self: end;
}

.page-header__logo {
  justify-self: center;

  @media (max-width: $tablet-max-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.page-header__logo svg {
  fill: $basic-brown;

  @media (max-width: $mobile-max-width) {
    width: 52px;
    height: 52px;
  }

  &:hover,
  &:focus {
    fill: $basic-dark;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-header__logo--toggled svg,
.page-header__logo--nojs svg {
  @media (max-width: $tablet-max-width) {
    fill: $basic-white;
  }
}

.page-header__logo--login {
  grid-column-start: 2;
  grid-column-end: 3;
}

.page-header__search {
  padding-top: 14px;
  display: flex;
  align-items: start;

  @media (max-width: $tablet-max-width) {
    display: none;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgba($basic-white, 0.15);
    border-radius: 21px;
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-top: 37px;
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 27px;
    margin-bottom: 36px;
  }
}

.page-header__search--toggled,
.page-header__search--nojs {
  @media (max-width: $tablet-max-width) {
    display: flex;
  }
}

.page-header__search input {
  border: none;

  @media (max-width: $tablet-max-width) {
    background-color: transparent;
    width: 90%;
  }
}

.page-header__search svg {
  margin-right: 14px;
  margin-top: 1px;
  fill: $basic-dark;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $basic-brown;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-max-width) {
    width: 16px;
    height: 16px;
    margin-right: 14px;
    margin-left: 2px;
    margin-top: 2px;
    fill: $basic-white;
  }
}

.page-header__menu-toggle {
  width: 25px;
  height: 16px;
  display: block;
  border: 0;
  background-color: transparent;
  padding: 0;
  stroke: $basic-dark;
  cursor: pointer;

  &:hover {
    stroke: $basic-brown;
  }

  &:active,
  &:focus {
    opacity: 0.7;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $tablet-max-width) {
    margin-top: 24px;
    width: 25px;
    height: 16px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 17px;

    & svg {
      width: 27px;
      height: 18px;
    }
  }
}

.page-header__menu-toggle--toggled,
.page-header__menu-toggle--nojs {
  @media (max-width: $tablet-max-width) {
    stroke: $basic-white;

    &:hover {
      stroke: $basic-dark;
    }

    &:active,
    &:focus {
      opacity: 0.7;
    }
  }
}
