.slider-pagination {
  z-index: 1;

  width: 100%;

  text-align: center;

  @media (max-width: $tablet-max-width) {
    bottom: 50px;
  }

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.slider-pagination span {
  background: none;
}
