.slider-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-max-width) {
    justify-content: start;
  }
}

.slider-page__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 5px;

  &:nth-child(3n) {
    margin-right: 0;

    @media (max-width: $tablet-max-width) {
      margin-right: 15px;
    }
  }

  @media (max-width: $tablet-max-width) {
    width: 206px;
  }

  @media (max-width: $mobile-max-width) {
    width: 130px;
    margin-bottom: 10px;
  }
}
