.user-menu {
  list-style: none;
  display: flex;
  padding: 12px 0 0 0;
  margin: 0;
  font-weight: 500;
  line-height: 21px;

  & li {
    margin-right: 35px;
  }

  & li:last-child {
    margin: 0;
  }

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    line-height: 130%;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 1px;
  }
}

.user-menu__item--login {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.user-menu--toggled,
.user-menu--nojs {
  @media (max-width: $tablet-max-width) {
    display: block;
  }
}

.user-menu a {
  color: $basic-dark;

  &:hover,
  &:focus {
    color: $basic-brown;
  }

  &:active {
    opacity: 0.5;
  }
}

.user-menu--nojs a,
.user-menu--toggled a {
  @media (max-width: $tablet-max-width) {
    color: $basic-white;
  }
}

.user-menu__item--cart svg {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    width: 22px;
    height: 18px;
    stroke: $basic-dark;
    fill: transparent;
    margin-top: 12px;

    &:hover {
      stroke: $basic-brown;
    }

    &:active,
    &:focus {
      opacity: 0.7;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 5px;
  }
}

.user-menu__item--toggled svg,
.user-menu__item--nojs svg {
  @media (max-width: $tablet-max-width) {
    stroke: $basic-white;

    &:hover {
      stroke: $basic-dark;
    }

    &:active,
    &:focus {
      opacity: 0.7;
    }
  }
}

.user-menu__item span {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
