// ----- Colors
$basic-black: #000000;
$basic-white: #FFFFFF;
$basic-dark: #1D1613;
$basic-grey: #9B9997;
$basic-brown: #A87B62;

// ----- Adaptive
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;

// ----- Retina
// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
